<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to the Text Analyzer</h1>
<h2>Enter your text below:</h2><br><br>
<form action="/analyze" method="get">
<textarea name="text" style='margin: 0px; width: 536px; height: 138px;' ></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuation <br>
    <input type="checkbox" name="fullcaps"> CAPITALIZE <br>
     <input type="checkbox" name="newlineremover"> New Line Remover <br>
    <input type="checkbox" name="extraspaceremover"> Extra space remover<br>
     <input type="checkbox" name="charcounter"> Count characters<br>
<button type="submit" >Analyze Text</button>
</form>
</body>
</html>